:root {
    --input-padding: 0.5ch 2ch;
    --button-x-margin: 2ch;
    --form-bottom-padding: 1ch;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 67.5%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-size: 1.6rem;
    width: 90%;
    height: 100vh;
    max-width: 1460px;
    margin: auto;
}
button {
    margin-left: var(--button-x-margin);
    padding: var(--input-padding);
}

input {
    padding: var(--input-padding);
}
label {
    display: block;
    margin-bottom: var(--form-bottom-padding);
}

.container {
    margin-top: 5rem;
}

