:root {
    --input-padding: 0.5ch 2ch;
    --button-x-margin: 2ch;
    --button-width: 18ch;
    --corpus-element-y-margin: 2vh;
    --label-bottom-margin: 1ch;
    --page-margin: 90%;
    --fieldset-padding: 2ch;
    --color-black: #2f2f2f;
    --color-white: ghostwhite;
    --color-primary: dodgerblue;
    --color-secondary: rgb(252, 193, 85);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 67.5%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    font-size: 1.6rem;
    width: var(--page-margin);
    max-width: 1460px;
    margin: auto;
}

nav {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


main {
    display: grid;
    grid-template-rows: 3fr 1fr;
    gap: 1rem;
    height: 90vh;
    width: 100%;
}

button {
    display: inline-block;
    padding: var(--input-padding);
    width: var(--button-width);
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 6px;
    border: none;
    transition: all 0.2s;
}

button:hover {
    background-color: royalblue;
}

.add-corpus-container > button {
    margin-left: 1ch;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

a:hover {
    color: royalblue;
}

fieldset {
    padding: var(--fieldset-padding);
}

input, select {
    margin: 0 .5ch;
}

input[type=text] {
    padding: var(--input-padding);
    min-width: 20ch;
    width: 70%;
}
input[type=number] {
    text-align: right;
    width: 5ch;
}

button, input, select {
    font-size: 1.6rem;
}

label {
    display: block;
    margin-bottom: var(--label-bottom-margin);
}

.header-item {
    padding: var(--input-padding);
    cursor: pointer;
}

.add-corpus-container {
    display: flex;
    justify-content: space-between; 
}

.about-container {
    padding: 2ch;
    line-height: 4ch;
}
.corpus-label {
    display: block;
}

#corpus-input {
    width: 70%;
}


.toast {
    padding: var(--input-padding);
    width: 40%;
    min-width: 30ch;
    font-weight: 700;
    color: ghostwhite;
    position: absolute;
    bottom: 5vh;
    left: 4rem;
    border: 1px solid transparent;
    border-radius: .75rem;
}
.success {
    background-color: darkgreen;
}
.fail {
    background-color: tomato;
}

.corpus-element {
    padding: var(--input-padding);
    color: ghostwhite;
    background-color: rebeccapurple;
    margin: var(--corpus-element-y-margin) 0;
    display: flex;
    justify-content: space-between;
}

.corpus-element > span {
    cursor: pointer;
    font-weight: 700;
}

.param-label {
    display: inline-block;
}

/* DESCRIPTIVE CLASSES */

.full-width {
    width: 100%;
}

.mt-5 {
    margin-top: 5rem;
}

/* CORPUS ELEMENT COLORS */

.ce-0 {
    background-color: midnightblue;
    color: ghostwhite;
}
.ce-1 {
    background: #212191;
    color: ghostwhite;
}
.ce-2 {
    background: #2a2abb;
    color: ghostwhite;
}
.ce-3 {
    background: #4444d5;
    color: ghostwhite;
}
.ce-4 {
    background: #6e6ede;
    color: ghostwhite;
}