:root {
    --input-padding: 0.5ch 2ch;
    --button-x-margin: 2ch;
    --button-width: 18ch;
    --corpus-element-y-margin: 2vh;
    --label-bottom-margin: 1ch;
    --page-margin: 90%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 67.5%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-size: 1.6rem;
    width: var(--page-margin);
    max-width: 1460px;
    margin: auto;
}

main {
    display: grid;
    grid-template-rows: 3fr 1fr;
    gap: 1rem;
    height: 90vh;
    width: 100%;
}

button {
    display: inline-block;
    padding: var(--input-padding);
    width: var(--button-width);
}

input {
    padding: var(--input-padding);
}

button, input {
    font-size: 1.6rem;
}

label {
    display: block;
    margin-bottom: var(--label-bottom-margin);
}

.corpus-form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 2ch;
    justify-items: right;
}
.corpus-label {
    grid-column: 1 / -1;
}
#corpus-input {
    grid-column: 1 / 5;
}


.toast {
    padding: var(--input-padding);
    width: 40%;
    min-width: 30ch;
    font-weight: 700;
    color: ghostwhite;
    position: absolute;
    bottom: 5vh;
    left: 4rem;
    border: 1px solid transparent;
    border-radius: .75rem;
}
.success {
    background-color: darkgreen;
}
.fail {
    background-color: tomato;
}

.corpus-element {
    padding: var(--input-padding);
    color: ghostwhite;
    background-color: rebeccapurple;
    margin: var(--corpus-element-y-margin) 0;
    display: flex;
    justify-content: space-between;
}

.corpus-element > span {
    cursor: pointer;
    font-weight: 700;
}




/* DESCRIPTIVE CLASSES */

.full-width {
    width: 100%;
}

.mt-5 {
    margin-top: 5rem;
}

/* CORPUS ELEMENT COLORS */

.ce-0 {
    background-color: midnightblue;
    color: ghostwhite;
}
.ce-1 {
    background: #212191;
    color: ghostwhite;
}
.ce-2 {
    background: #2a2abb;
    color: ghostwhite;
}
.ce-3 {
    background: #4444d5;
    color: ghostwhite;
}
.ce-4 {
    background: #6e6ede;
    color: ghostwhite;
}